* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100%;
}

section video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

section .navigation {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    widows: 50vw;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

section .navigation li {
    width: 210px;
    height: 130px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

section .navigation li img {
    width: 200px;
    height: 120px;
    opacity: 0.8;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

section .navigation li img:hover {
    opacity: 1;
}
